{% extends "@App/Default/base.html.twig" %}

{% block page %}
    <section class="post_review">
        {% for article in articles %}
            <article class="apercu">
                <div class="thumb">
                    <img src="{{ asset('img/' ~ article.id ~ '.jpg') }}" alt='thumb'>
                </div>


                <h2>{{ article.titre }}</h2>
                {{ article.content }}
            </article>
        {% endfor %}
    </section>
<section>
    <article id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22647.600386638373!2d-0.6007667233174376!3d44.80220662787791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd552845733eb33f%3A0x2bf918c8dee4ccff!2sLa+Piscine!5e0!3m2!1sfr!2sfr!4v1542730165521" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </article>
</section>
{% endblock %}