{% extends "@App/Default/base.html.twig" %}

{% block content %}

    <div class="container">
        <section>
            <div class="img">
                <img src="{{ asset ('img/la-belle-lurette-1080x409.jpg') }}" alt="bar">
            </div>
        </section>
    </div>

{% endblock %}