{% extends "@App/Default/base.html.twig" %}

{% block title %}Bienvenue!{% endblock %}


{% block page %}

<section class="post_review">
{% for article in articles|slice(3,5) %}
    <article class="apercu">
        <div class="thumb">
            <img src="{{ asset('img/' ~ article.id ~ '.jpg') }}" alt='thumb'>
        </div>


       <h2>{{ article.titre }}</h2>
        {{ article.content }}
    </article>
{% endfor %}
</section>

    <div class="banner">

        <section>
            <div class="img">
                <img src="{{ asset ('img/la-belle-lurette-1080x409.jpg') }}" alt="bar">
            </div>
        </section>

    </div>

{% endblock %}